<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form name="test" method="get" action="">
		wen<input type="text" vlue="" name="text" placeholder="请输入6位数的邮政编码"> </br>
		mm<input type="password" vlue="" name="password"></br> 

		tijiao<input type="submit" value="submit" name="submit"></br>
		chongzhi<input type="reset" vlue="reset" name="reset"></br>
		danxuan<input type="button" vlue="button1" name="anjian"></br>
		<input type="radio" vlue="1" name="radio"></br>
		<input type="radio" vlue="2" name="radio"></br>
		<input type="radio" vlue="3" name="radio"></br>
		shangchuan<input type="file" vlue="" enctype="multipart/form-data" name="file" method="post"></br>
		yinchang<input type="hidden" vlue="yinchang" name="yinchang"></br>
		wenben<trxtarea name="wenben"></trxtarea></br>
		xuanze<select name="choose" size=""></br>
			<option value="1">1</option></br>
			<option value="2">2</option></br>
			<option value="3">3</option></br>
		</select>       </br>
		<fieldset></fieldset></br>
		diany<input type="text" list="movie" autofocus="on"></br>
		<details>
		<Summary>实战</Summary>
			<datalist id="movie">
			
				<option label="影片1" value="chao1">
				<details>
					<Summary>实战</Summary>
				</details>
				<option label="影片2" value="chao2">
				<option label="影片3" value="chao3">
			</datalist>
		</details>
		serach<input type="search" vlue="" name="search1"></br>
		email<input type="email" vlue="" name="user_email"></br>
		url<input type="url" name="user_email"></br>
		shuzhi<input type="number" min="1" max="20" value="0"></br>
		time<input type="time" name="time1"></br>
		
	</form>
</body>
</html>