<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
body{
padding:0;
margin:0;
}
</style>

<body>
<frameset cols="50%,50%" width=100%>
<iframe style="" height="100px"  name="children1th" scrolling="no"></iframe>
<iframe style=""  height="100px"  name="children1th" scrolling="no"></iframe>
</frameset>

<frameset cols="100,200,900" frameborder="yes" border="1" framespacing="1">
<frame src="children2.html"/></frame>
<frame src="children2.html"></frame>
<frame src="children2.html"></frame>
</frameset>
</body>
</html>